.img1 {
    height: 70%;
    width: 80%;
    margin-top: 8%;
    border-radius: 15px;
}

.main{
    display: flex;
}

.card {
    width              : 30%;
    /* border          :1px solid rgb(243, 240, 240); */
    border             : solid black transparent;
    margin             : 5%;
    background         : transparent;
    border-radius      : 30px;
}

.card-body {
    margin-left: 20%;
    margin-top : 15%;
}

#btn {
    margin-left  : 18%;
    margin-top   : 10%;
    border-radius: 5px;
}

mat-icon {
    margin-left: -20px;
    font-size  : 15px;
}


.swap-src {
    font-size    : 25px;
    margin-left  : 82px;
    margin-bottom: 12px;
}

.btn-group {
    display    : block;
    margin-left: -96px;
}

.design {
    display: flex;
    margin-left: 100px;
}

.line-5 {
    height    : 4px;
    width     : 150px;
    margin-top: 4px;
    background: linear-gradient(to bottom,
            transparent 2px,
            black 2px,
            black 3px,
            transparent 3px);
}

.trip-txt {
    display: flex;
    position: absolute;
    margin: 15px 0px 0px -20px;
}

.txt-ds {
    padding-right: 105px;
}